
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

@keyframes slideIn {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideIn1 {
  0% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(-6px);
  }
}

@keyframes slideIn2 {
  0% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(-12px);
  }
}

.label {
  display: none;
}

html, body {
  height: 100%;
}

html, body {
    overflow: hidden;
}

body, input, textarea {
  font-family: 'IBM Plex Mono', sans-serif;
  font-style: normal;
}

.email-body {
  background-color: $white;
  transition: all $mode-timing ease;
  height: 100%;
  overflow:hidden;
  textarea {
    height: 95%;
    //max-height: 58.5vh;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $gray;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $gray;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $gray;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $gray;
    }
  }
  @media (min-width: 1921px ) {
    min-height: 70vh;
  }
}

.btn-mode {
  width: 18px;
  height: 18px;
  transition: transform .3s ease;
  path:first-of-type {
    fill: $black;
  }
  path:last-of-type {
    fill: $white;
  }
  &:hover {
    transform: rotate(180deg);
  }
  &:focus {
    outline: none;
  }
  @media #{$breakpoint-not-small} {
    width: 20px;
    height: 20px;
  }
}

// .btn-mode-dark {
//   path:first-of-type {
//     fill: $white;
//   }
//   path:last-of-type {
//     fill: $black;
//   }
// }

// .gh-button {
//   color: $near-black;
//   &:hover {
//     .tooltip {
//       transform: translateX(0);
//       visibility: visible;
//       opacity: 1;
//     }
//   }
// }

// .tooltip {
//   color: $white;
//   transition: all $mode-timing ease;
//   background-color: $near-black;
//   font-size: $font-size-7;
//   border-radius: $border-radius-2;
//   visibility: hidden;
//   opacity: 0;
//   transform: translateX(-5px);
//   &:before {
//     content: "";
//     position: absolute;
//     left: -4px;
//     top: calc(50% - 4px);
//     width: 0;
//     height: 0;
//     border-top:  4px solid transparent;
//     border-bottom:  4px solid transparent;
//     border-right: 4px solid $black;
//   }
// }

.btn-sm {
  border: 1px solid $gray-30;
  color: $gray-40;
  width: 50px;
  text-decoration: none;
  transition: all .1s ease;
  &:hover {
    background-color: $near-black;
    color: $white;
    border-color: $near-black;
  }
  @media #{$breakpoint-not-small} {
    width: 60px;
  }
}

.link {
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}

.email-window {
  max-width: 67rem;
  border: 1px solid $border-color;
  border-top: 0;
  position: relative;
  border-radius: 0;
  z-index: 99;
  min-height: 80vh;
  animation: .3s ease 0s 1 slideIn;
  animation-fill-mode: forwards;
  transition: background-color $mode-timing ease;
  margin-top: 5rem;
  &:before {
    content: "";
    height: 100%;
    border: 1px solid $border-color;
    position: absolute;
    width: calc(100% - 12px);
    animation: .3s ease 0s 1 slideIn1;
    animation-delay: .3s;
    animation-fill-mode: forwards;
    height: 100%;
    top: 0;
    left: 6px;
    z-index: -1;
  }
  @media #{$breakpoint-not-small} {
    margin-top: 9.5rem;
    &:before, &:after {
      content: "";
      height: 100%;
      border: 1px solid $border-color;
      position: absolute;
    }
    &:after {
      animation: .3s ease 0s 1 slideIn2;
      animation-delay: .5s;
      animation-fill-mode: forwards;
      width: calc(100% - 24px);
      height: 100%;
      top: 0;
      left: 12px;
      z-index: -2;
    }
  }
  @media (min-width: 1921px ) {
    max-width: 86rem;
  }
}

.email-window, .email-header, .email-compose, .email-body, .email-window:before, .email-window:after  {
  background-color: $white;
}

.email-header {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  transition: all $mode-timing ease;
}

.email-compose {
  border-color: $border-color;
  transition: all $mode-timing ease;
}

.app-circle {
  background-color: $gray-30;
  transition: background-color $mode-timing ease;
  width: 10px;
  height: 10px;
  border-radius: 9999px;
  margin-right: 3px;
  @media #{$breakpoint-not-small} {
    margin-right: 8px;
     width: 12px;
    height: 12px;
  }
}

input, textarea {
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

/* purgecss start ignore */

.mailto-link-container {
  visibility: hidden;
  height: 0;
  width: 0;
  bottom: 2rem;
  transform: translateY(8rem);
  transition: transform .2s ease;
  margin: auto;
  z-index: 200;
  .mailto-link {
    display: none;
  }
  &.active {
    visibility: visible;
    height: auto;
    width: 100%;
    transform: translateY(0);
    .mailto-link {
      display: flex;
    }
  }
}
/* purgecss end ignore */

.mailto-link {
  font-size: $font-size-6;
  transition: all $mode-timing ease;
  background-color: $near-black;
  color: $white;
  box-shadow: 0 10px 40px 0 rgba(17,38,57,0.4);
  padding: .45rem .45rem .45rem 1.5rem;
  max-width: 450px;
  width: 100%;
    @media (min-width: 500px ) {
      font-size: $font-size-5;
    }
    @media (min-width:  1921px) {
      max-width: 500px;
    }
}

.mailto-text {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  text-decoration: none;
  text-align: center;
  color: $black;
  display: inline-block;
  background-color: $light-green;
  transition: all .2s ease;
  //text-shadow: 0 1px 1px rgba(0,0,0,.1);
  transform: scale(1);
  &:hover, &:focus {
    background-color: darken($light-green, 5%);
  }
  &:hover {
    transform: scale(.98);
  }
  &:active {
    transform: scale(1.05);
  }
}

.btn-md {
  border-radius: $border-radius-pill;
  line-height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  // width: 160px;
  white-space: nowrap;
}
.bg-tile {
  background-image: url('/images/tile.svg');
  background-repeat: repeat;
  background-size: 60%;
  background-position: -3px -45%;
  background-color: $lighter-green;
  transition: background-color $mode-timing ease;
  @media #{$breakpoint-not-small} {
    background-size: 15%;
    background-position: -3px -3px;
  }
  @media (min-width:  1921px) {
    background-size: 10%;
  }
}

.seperator {
  color: $black;
}

::-moz-selection { background: $light-green; color: $white; }
::selection { background: $light-green; color: $white;}

/* purgecss start ignore */
.dark {
  body, input, textarea {
    color: $white;
  }
  .seperator {
    color: $white;
  }
  .link {
    color: $white;
  }
  &.bg-tile {
    background-image: url('/images/tile-dark.svg');
    background-color: $black;
  }
  .email-window, .email-header, .email-compose, .email-body, .email-window:before, .email-window:after  {
    background-color: lighten($black, 3%);
    border-color: darken($black, 20%);
  }
  .email-header {
    color: $white;
  }
  .mailto-link {
    background-color: $white;
    color: $black;
    box-shadow: none;
  }
  .btn-sm {
    border: 1px solid darken($black, 10%);
    color: $gray-40;
    &:hover {
      background-color: $white;
      color: $near-black;
      border-color: $white;
    }
  }
  .btn-mode {
    path:first-of-type {
      fill: $white;
    }
    path:last-of-type {
      fill: $black;
    }
  }
  .email-body {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
  }
  .gh-button {
    color: $white;
    &:hover {
      .tooltip {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .tooltip {
    color: $black;
    background-color: $white;
    &:before {
      content: "";
      border-right: 4px solid $white;
    }
  }
}
/* purgecss end ignore */

@media (prefers-reduced-motion: reduce) {
  *, *:before, *:after {
    animation: none !important;
    transition: none !important;
  }
  .email-window {
    &:before {
      content: "";
      top: -6px;
    }
    &:after {
      content: "";
      top: -12px;
    }
  }
}
