<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  <head>
    {% include head.html %}

    <!-- <script>

      function bgMode() {
          body.classList.add(colorMode);
        }
    </script> -->
  </head>

  <body>

    <main class="h-100 flex bg-tile light main">

    {{ content }}

    </main>

    {% include footer.html %}

    {% include scripts.html %}

    <script async defer src="https://buttons.github.io/buttons.js"></script>

  </body>

</html>

