// ! TACHYONS v4.9.0 | http://tachyons.io 

//
//
//      ________            ______
//      ___  __/_____ _________  /______  ______________________
//      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
//      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
//      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
//                                 /____/
//
//    TABLE OF CONTENTS
//
//    1. External Library Includes
//       - Normalize.css | http://normalize.css.github.io
//    2. Tachyons Modules
//    3. Variables
//       - Media Queries
//       - Colors
//    4. Debugging
//       - Debug all
//       - Debug children
//
//

@import url("https://use.typekit.net/fqe2dnn.css");

 //  External Library Includes 
 @import '../_scss/normalize';


//  Variables 
//  Importing here will allow you to override any variables in the modules 

@import '../_scss/variables';

//  Debugging 
@import '../_scss/debug-children';
@import '../_scss/debug-grid';

//  Uncomment out the line below to help debug layout issues 
//  @import 'debug'; 

 //  Modules 
 @import '../_scss/box-sizing';
 @import '../_scss/aspect-ratios';
 @import '../_scss/images';
 @import '../_scss/background-size';
 @import '../_scss/background-position';
 @import '../_scss/outlines';
 @import '../_scss/borders';
 @import '../_scss/border-colors';
 @import '../_scss/border-radius';
 @import '../_scss/border-style';
 @import '../_scss/border-widths';
 @import '../_scss/box-shadow';
 @import '../_scss/code';
 @import '../_scss/coordinates';
 @import '../_scss/clears';
 @import '../_scss/display';
 @import '../_scss/flexbox';
 @import '../_scss/floats';
 @import '../_scss/font-family';
 @import '../_scss/font-style';
 @import '../_scss/font-weight';
 @import '../_scss/forms';
 @import '../_scss/heights';
 @import '../_scss/letter-spacing';
 @import '../_scss/line-height';
 @import '../_scss/links';
 @import '../_scss/lists';
 @import '../_scss/max-widths';
 @import '../_scss/widths';
 @import '../_scss/overflow';
 @import '../_scss/position';
 @import '../_scss/opacity';
 @import '../_scss/rotations';
 @import '../_scss/skins';
 @import '../_scss/skins-pseudo';
 @import '../_scss/spacing';
 @import '../_scss/negative-margins';
 @import '../_scss/tables';
 @import '../_scss/text-decoration';
 @import '../_scss/text-align';
 @import '../_scss/text-transform';
 @import '../_scss/type-scale';
 @import '../_scss/typography';
 @import '../_scss/utilities';
 @import '../_scss/visibility';
 @import '../_scss/white-space';
 @import '../_scss/vertical-align';
 @import '../_scss/hovers';
 @import '../_scss/z-index';
 @import '../_scss/nested';
 //@import 'tagify';
 @import '../_scss/styles';
