---
layout: layouts/base.njk
theme_color: "#9eebcf"
title: Mailtolink.me | The Mailto Link Generator
description: Mailto link code and markup generator with subject, body, cc and bcc. Quickly and easily generate code for those annoying mailto links.
twitter_username: mmckvr
logo: card-image.png
url: "https://mailtolink.me"
google_analytics: UA-39366656-21
---

{#
    Go to base.njk
#}
